@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*
	Fonts
	font-family" 'Lora', serif;
*/

body {
/*
Свойство margin CSS определяет внешний отступ на всех четырёх сторонах элемента.
Это сокращение, которое устанавливает все отдельные поля одновременно: margin-top, margin-right, margin-bottom и
margin-left.
*/
	margin: 0;
	/*Устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого*/
	font-family: 'Lora', serif;
	/*Определяет размер шрифта элемента
Rem — это корневой em (Root Em). Он создан, чтобы облегчить вычислительные проблемы, с которыми многие иногда
сталкиваются.
Это единица типографики, равная корневому (базовому) значению font-size.
Это значит, что 1rem всегда будет равен значению font-size, которое было определено в html.
*/
	font-size: 1.125rem;
/*
font-weight	Насыщенность шрифта задаётся с помощью ключевых слов: bold — полужирное начертание, normal — нормальное
начертание.
Также допустимо использовать условные единицы от 100 до 900.
Значения bolder и lighter изменяют жирность относительно насыщенности родителя,
соответственно, в большую и меньшую сторону.
*/
	font-weight: 300;
}

img {
/*
Устанавливает максимальную ширину элемента.
Значение ширины элемента будет вычисляться в зависимости от значений установленных свойств width, max-width и min-width.
*/
	max-width: 100%;
/*
display inline
Элементы располагаются на той же строке, последовательно.
Ширина и высота элемента определяются по содержимому. Поменять их нельзя.
Например, инлайновые элементы по умолчанию: <span>, <a>.
display block
Блочные элементы располагаются один над другим, вертикально (если нет особых свойств позиционирования, например float).
Блок стремится расшириться на всю доступную ширину. Можно указать ширину и высоту явно.
Это значение display многие элементы имеют по умолчанию: <div>, заголовок <h1>, параграф <p>.
*/
	display: block;
	object-fit:cover;
}

p,
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 400;
	color: #143774;
}

p,
.filter-recipes-at-ingredients ul > li {
	color: #143774;
}

h1,
h2 {
	margin: 0;
}

a {
	color: #143774;
	text-decoration: none;
}

h2.name-of-recipe {
    margin-bottom: .75rem;
}

h2.ingredients {
    margin-top: .75rem;
}

/*
hover определяет стиль элемента при наведении на него курсора мыши, но при этом элемент еще не активирован, иными
словами кнопка мыши не нажата
*/
a:hover,
/*
focus применяется, когда элемент (такой как input формы) получает фокус.
Обычно он активируется при клике мышью пользователем или при выборе элемента с использованием клавиши "tab" на
клавиатуре.
*/
a:focus {
	color: #143774;

/*
text-decoration добавляет оформление текста в виде его подчеркивания, перечеркивания, линии над текстом и мигания.
Одновременно можно применить более одного стиля, перечисляя значения через пробел.
line-through:  Создает перечеркнутый текст
overline:  Линия проходит над текстом
underline: Устанавливает подчеркнутый текст
none: Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.
inherit: Значение наследуется у родителя
*/

	text-decoration: underline;
}

/*Тег <strong> предназначен для акцентирования текста. Браузеры отображают такой текст жирным начертанием.
*/
strong {
	font-weight: 700;
}


.subtitle {
	font-weight: 700;
	color: #1792d2;
	font-size: 0.75rem;
  	margin: 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!change!!!!!!!!!!!!!!!!!!!*/
.container {
	width: 100%;

/*
margin CSS определяет внешний отступ на всех четырёх сторонах элемента.
Это сокращение, которое устанавливает все отдельные поля одновременно: margin-top, margin-right, margin-bottom и
margin-left.
*/
	margin: 0 auto;
	padding: 0 auto;

/*
margin: 5%;                 все стороны:  отступ 5%
margin: 10px;               все стороны:  отступ 10px
margin: 1.6em 20px;         верх и низ:   отступ 1.6em
                            право и лево: отступ 20px
margin: 10px 3% 1em;        верх:         отступ 10px
                            право и лево: отступ 3%
                            низ:          отступ 1em
margin: 10px 3px 30px 5px;  верх:   отступ 10px
                            право:  отступ 3px
														низ:    отступ 30px
                            лево:   отступ 5px
margin: 2em auto;           верх и низ: отступ 2em
                            блок отцентрирован горизонтально
margin: auto;               верх и низ: отступ 0
                            блок отцентрирован горизонтально
                            */
}

.container-flex {
	/*контейнер становится гибким, установив display свойство в значение flex*/
	display: flex;
	/*расположение блоков по вертикали*/
	flex-direction: column;
	/*определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex
	контейнера, или вдоль строчной оси grid контейнера.*/
	justify-content: center;
	/*align-items выравнивает flex-элементы текущей flex-линии таким же образом, как и justify-content,
	но в перпендикулярном направлении.*/
	align-items: center;
	margin-bottom: 150px; /*для отступа от footer */
	padding: 0;
}

header {
	background: #f8f8f8;
	padding: 2rem 0;
	text-align: center;
	margin-bottom: 2rem; /*отступ navbar от main*/
}

/*navigation*/
nav {
/*
list-style позволяет одновременно задать стиль маркера, его положение, а также изображение, которое будет
использоваться в качестве маркера списка
*/
	list-style: none;
/*
padding устанавливает внутренние отступы/поля со всех сторон элемента.
Область отступов это пространство между содержанием элемента и его границей.
Отрицательные значения не допускаются.
*/
	/*padding: 0;*/
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

nav .main,
nav .dropbtn,
nav .search-recipe {
   margin-left: 3rem;
}

.dropbtn,
nav .main a {
	text-decoration: none;
	color: #008B8B;
}

.dropbtn {
	font-size: 18px;
}

nav .main a {
	font-size: 19px;
}

.dropbtn {
    cursor: pointer;
    background: #f8f8f8;
    border: none;
}

nav .main a:hover,
nav .main a:focus,
.dropbtn:hover,
.dropbtn:focus,
.dropdown-content a:hover {
	color: #1792d2;
}

.dropbtn:focus,
.dropdown-content a:hover {
	text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    color: #008B8B;
    margin-top: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav .search-recipe input {
    width: 400px;
    font-size: 15px;
    height: 25px;
    padding: 0;
    margin: 0;

}

nav .search-recipe button {
    background: #ddd;
    font-size: 15px;
    cursor: pointer;
}

/*left sidebar*/
.filter-recipes-at-ingredients {
    top: 198px;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 28%;
    margin-bottom: 2rem;

}

.filter-recipes-at-ingredients ul {
    flex-wrap: wrap;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.filter-recipes-at-ingredients ul > li {
    list-style-type: none;
    margin-left: 0;
}

.filter-recipes-at-ingredients button {
    border: none
    text-decoration: none
    text-align: center
    background: #ddd;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 200px; /*отступ left sidebar от footer*/
}

/*content*/
.recipe,
.step-for-cooking-at-recipe {
	display: flex;
	flex-direction: column;
}

.recipe,
.step-for-cooking-at-recipe
/*.filter-recipes-at-ingredients*/ {
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border-color: #FAF0E6;
}

div .right > ul,
ul.recipe-detail-ingredients {
    padding-left: 1rem;
    list-style: none;
    list-style-type: "\2705";
}

/*
order определяет порядок, используемый для размещения flex элементов в их flex контейнере.
Элементы располагаются в восходящем порядке по значению order.
Элементы с одинаковым значением order  располагаются в том порядке, в каком они находятся в исходном коде
*/
.recipe div.left,
.step-for-cooking-at-recipe div.left {
    order: 1
}

.recipe div.right,
.step-for-cooking-at-recipe div.right {
    order: 2
}

.create-comment-at-recipe-form {
    width: 50%; /*ширина формы для отправки комментария к рецепту*/
}

.comment,
.child-comment {
    width: 75%;
    margin-bottom: 1rem;
}

.create-comment-at-recipe-form-title {
    margin-bottom: 1rem;
}

.create-comment-at-recipe-form-content input,
.create-comment-at-recipe-form-content textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5rem;
}

.create-comment-at-recipe-form-content textarea {
    resize: none;
}

/*.fcreate-comment-at-recipe-form-content {
    border: 1px solid gold;
}*/

.create-comment-at-recipe-form-bttn {
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    height: 35px;
    background-color: #2E8B57;
    color: #ffffff;
    font-family: 'Lora', serif;
}

.step-for-cooking-at-recipe div.left,
.step-for-cooking-at-recipe div.right,
.recipe div.left,
.recipe div.right {
     border: 1px solid gold;
}

.comment,
.child-comment {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    font-family: 'Lora', serif;
}

.comment {
    margin-top: 1.5rem;
}

.child-comment {
    margin-top: 1rem;
    margin-left: 5rem;
}

.comment-title {
    display: inline;
    margin-top: 1rem;
}

.count-comment {
    font-size: 0.75rem;
}

.comment span,
.child-comment span {
    display: block;
    font-size: 0.9rem;
}

.comment p,
.child-comment p {
    margin: 0.5rem 0;
}

.comment-link {
}

@media (max-width: 1000px) {
	nav {
		flex-direction: column;
	}

	.dropbtn {
		margin: 0.5rem 0;
	}
}

@media (max-width: 1000px) {
    .filter-recipes-at-ingredients {
        display: none;
    }
    nav .main,
    nav .dropbtn,
    nav .search-recipe {
        margin-left: 0;
    }
}

@media (max-width: 675px) {
	.container-flex {
		padding: 0;
	}
}

@media (min-width: 1000px) {
	.container-flex {
		flex-direction: row;
		padding: 0;
	}

	main {
		width: 65%;
	}

	aside {
		width: 30%;
	}

    .recipe {
        margin-left: 1rem; /*отступ main от left sidebar*/
    }

	.recipe-image-main {
		width: 100%;
	}

    .img-main {
    	width: 100%;
/*
Viewport Height (vh) — это процентная величина от общей высоты области просмотра. 10vh составляет 10% от текущей высоты
области просмотра.
*/
    	height: 50vh;
/*
object-fit определяет, как содержимое заменяемого элемента, такого как <img> или <video>, должно заполнять контейнер
относительно его высоты и ширины.
cover: Смещаемый контент меняет свой размер таким образом, чтобы сохранять свои пропорции при заполнении блока:
окончательный размер контента будет определён как "покрытие" блока, ограничиваясь его шириной и высотой.
*/
    	object-fit: cover;
    }

    .img-additional {

 /*
 opacity устанавливает непрозрачность элемента. Непрозрачность - это степень, в которой содержимое скрывается за
 элементом, является противоположностью прозрачности.
 */
    	/*opacity: .8;*/
    	margin: 0.5rem 0;
    }

    .recipe,
    .step-for-cooking-at-recipe {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .recipe div.right {
        width: 37%;
    }

    .recipe div.left {
        width: 60%;
    }

    .step-for-cooking-at-recipe div.right {
        width: 48.5%;
    }

    .step-for-cooking-at-recipe div.left {
        width: 48.5%;
    }
}

/*footer*/
footer {
	background: #292c2f;
	padding: 0.5rem 0;
	text-align: center;
	font-family: 'Lora', serif;
}

.container-footer {
 	position: fixed;
 	width: 100%;
 	bottom: 0
}

.main,
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.main li,
.social-icons li {
    margin-left: 1rem;
}

.main a,
.social-icons a,
.footer-content p {
	color: #ffffff;
}

.footer-content ul {
   list-style: none;
}

.main a:hover,
.main a:focus {
	color: #1792d2;
}

main li {
	margin-left: 1rem;
}

.footer-content p {
	font-size: 0.9rem;
}

.fa-facebook:hover {
	background-color: #3d5b99;
}

.fa-instagram:hover {
	background: #d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f
	60%,#285AEB 90%);
}

.fa-youtube:hover {
	background-color: #e64a41;
}
