{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Рецепты со всего мира{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,700&display=swap" rel="stylesheet">
	{% block style %}
    {% endblock %}
</head>
<body>
{% include 'book_of_recipes/navbar.html' %}
<div class="container container-flex">
    {% block sidebar_left %}
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% block sidebar_right %}
    {% endblock %}
</div>
{% include 'book_of_recipes/footer.html' %}
</body>
</html>