<footer class="container container-footer">
    <div class="footer-content">
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://github.com/viktornikolaev1995"><i class="fa fa-github"></i></a></li>
      </ul>
      <ul class="main">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Обратная связь</a></li>
      </ul>
      <p>Best Recipes &copy; 2022</p>
    </div>
</footer>