<header>
  <div class="container container-nav">
    <div class="site-title">
      <h1>Best recipes</h1>
      <p class="subtitle">Best recipes from all over the world</p>
    </div>
    <nav>
        <div class="main"><a href="{% url 'recipes' %}">Главная</a></div>
        <div class="dropdown">
          <button class="dropbtn">По категориям</button>
          <div class="dropdown-content">
            {% for category in categories %}
              <li><a href="{% url 'recipes_at_category' slug=category.slug %}">{{category.name}}</a></li>
            {% endfor %}
          </div>
        </div>
        <div class="search-recipe">
          <form action="{% url 'search_recipe_at_its_name' %}" method="get">
              <input type="search" id="search" placeholder="Поиск рецепта по названию" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
    </nav>
  </div>
</header>