{% extends "book_of_recipes/base.html" %}
{% load static %}
{% block title %}{{recipe.name}}{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'book_of_recipes/css/base_detail.css' %}">
{% endblock %}

{% block sidebar_left %}
<aside></aside>
{% endblock %}

{% block content %}
<h2 class="name-of-recipe">{{recipe.name}}</h2>
<img src="{{recipe.image.url}}" class="img-main">
<h2 class="ingredients">Ингредиенты</h2>
<ul class="recipe-detail-ingredients">
{% for ingredient in recipe.ingredients.all %}
    {% if ingredient.quantity and ingredient.unit_of_measurement %}
        <li>{{ingredient.name}}-{{ingredient.quantity}} {{ingredient.unit_of_measurement}}</li>
    {% else %}
        <li>{{ingredient.name}}</li>
    {% endif %}
{% endfor %}
</ul>
<h3>Способ приготовления:</h3>
{% for step in recipe.steps_cooking_at_recipe.all %}
    <article class="step-for-cooking-at-recipe">
        <div class="left">
            <img src="{{step.image.url}}" class="img-additional">
        </div>
        <div class="right">
            <p>{{forloop.counter}}. {{step.description}}</p>
        </div>
    </article>
{% endfor %}
<hr>

<form action="{% url 'create_comment_at_recipe' recipe.id %}" method="post" id="formComment">
    <h3 class="create-comment-at-recipe-form-title">Оставить комментарий</h3>
    {% csrf_token %}
    <div class="create-comment-at-recipe-form">
        <input type="hidden" name="parent" id="contactparent">
        <div class="create-comment-at-recipe-form-content">
            <input type="text" name="name" placeholder="Имя *" id="contactname" required="">
        </div>
        <div class="create-comment-at-recipe-form-content">
            <input type="email" name="email" placeholder="Email *" id="contactemail" required="">
        </div>
        <div class="create-comment-at-recipe-form-content">
            <textarea name="text" rows="6" placeholder="Текст *" id="contactcomment" required=""></textarea>
        </div>
        <button type="submit" class="create-comment-at-recipe-form-bttn">Отправить</button>
    </div>
</form>

<div class="recipe-comments">
    <h3 class="comment-title">Лента комментариев</h3><sup>{{ recipe_comments|length }}</sup>
    {% load mptt_tags %}
    {% recursetree recipe_comments %}
    <div class="comment">
        <span>{{ node.name }}-{{ node.email }}</span>
        <span>{{ node.pub_date }}</span>
        <p>{{ node.text }}</p>
        <a href="#formComment" class="comment-link" onclick="addComment('{{ node.name }}', '{{ node.id }}' )">Ответить</a>
    </div>
    <div class="child-comment">
        {% for child in node.get_children %}
            <span>{{ child.name }}-{{ child.email }}</span>
            <span>{{ child.pub_date }}</span>
            <p>{{ child.text }}</p>
        {% endfor %}
    </div>
    {% endrecursetree %}
</div>
<script>
    function addComment(name, id) {
        document.getElementById("contactcomment").innerText = `${name}, `;
        document.getElementById("contactparent").value = id
    }
</script>
{% endblock %}

{% block sidebar_right %}
<aside></aside>
{% endblock %}